body {
    margin: 0;
    padding: 0;
 }

.heading {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0px;
    background-color: #DCDCDC;
    /* background-color: #2D9CDB; */
    z-index: 20;
    text-align: center;
}

.main-area {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 80px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.app-title {
    text-align: center;
    color: #A9A9A9;
    /* color: #FFFFFF; */
    font-size: 20pt;
}

.search-bar {
    top: 0;
    padding: 10px;
    margin-bottom: 30px;
    background: #E5E5E5;
    border-radius: 20px;
}

.search-bar img {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.search-bar input {
    display: inline;
    width: 90%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    border: none;
    background: none;
    color: #696969;
}

.search-option-button {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 150px;
    background: #E5E5E5;
    /* background: #2D9CDB; */
    border-radius: 20px;
    margin-bottom: 20px;
}

.search-option-button img {
    width: 90px;
    margin: auto;
    text-align: center;
}

.search-option-button p {
    color: #A9A9A9;
    /* color: #FFFFFF; */
    font-size: 20pt;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: black;
}

.homebar {
    background-color: #E5E5E5;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homebar-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1;
    text-align: center;
}
