.fade-goodbye {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.fade-hello {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-shrink {
    opacity: 0.01;
    transform: scale(0.8);
    transition: opacity 300ms, transform 300ms ease-in;
}

.fade-grow {
    opacity: 1;
    transform: scale(1.0);
    transition: opacity 300ms, transform 300ms ease-in;
}