.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.heading {
    grid-area: 1 / 1 / 2 / 3;
}

.heading-elem {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1;
}

.profile {
    grid-area: 2 / 1 / 4 / 3;
    width: 100%;
}

.profile-img,
.profile-img img {
    width: 100%;
    z-index: 1;
}

.amb-pop {
    text-align: center;
}
.amb-pop img {
    width: 50%;
}
.profile-fav {
    grid-area: 2 / 2 / 3 / 3;
    text-align: right;
    z-index: 10;
}

.profile-name {
    grid-area: 3 / 1 / 4 / 3;
    text-align: left;
    z-index: 10;
    color: white;
}

.hours {
    grid-area: 4 / 1 / 5 / 2;
}

.seats {
    grid-area: 4 / 2 / 5 / 3;
}

.description {
    grid-area: 5 / 1 / 6 / 3;
}

.ambience {
    grid-area: 6 / 1 / 7 / 2;
}

.popularity {
    grid-area: 6 / 2 / 7 / 3;
}

.survey {
    grid-area: 7 / 1 / 8 / 3;
    text-align: center;
}

.homebar {
    grid-area: 8 / 1 / 9 / 3;
}

.homebar-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1;
    text-align: center;
}